.courses-list-title {
  padding: 0px 20px;
}

.recent-title {
  padding: 0px 20px;
}

.courses-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 20px;
  padding-bottom: 30px;

  &::-webkit-scrollbar {
    display: none;
  }

  .course-container {
    width: 260px;
    height: 310px;
    position: relative;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    padding: 30px;
    border-radius: 30px;
    color: white;
    background: linear-gradient(
      to right bottom,
      rgb(var(--course-bg)),
      rgba(var(--course-bg), 0.5)
    );
    box-shadow: 0 12px 8px rgba(var(--course-bg), 0.3),
      0 1px 2px rgba(var(--course-bg), 0.3);

    .course-img {
      width: 48px;
      height: 50px;
      position: absolute;
      top: 20px;
      right: 20px;
    }

    .course-title {
      max-width: 170px;
      margin-bottom: 8px;
    }

    .course-subtitle {
      opacity: 0.7;
      overflow: hidden;
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    .course-caption {
      margin: 8px 0;
    }

    .spacer {
      flex: 1;
    }

    ion-row.avatar-container {
      ion-img {
        width: 44px;
        height: 44px;
        border-radius: 22px;
        overflow: hidden;
      }
      // item spacing
      ion-img + ion-img {
        margin-left: 8px;
      }
    }
  }

  .course-container + .course-container {
    margin-left: 20px;
  }
}

.section-list {
  .section-grid {
    --ion-grid-padding: 10px;

    ion-col {
      --ion-grid-column-padding: 10px;
    }

    .section-container {
      height: 110px;
      color: white;
      border-radius: 30px;
      padding: 10px 30px;
      align-items: center;

      ion-col {
        --ion-grid-column-padding: 0px;
      }
      .spacing {
        height: 8px;
      }

      .section-img {
        width: 48px;
        height: 50px;
        margin-left: 20px;
      }
    }
  }
}
