ion-content {
  --background: var(--cr-color-background);
  --padding-bottom: calc(var(--ion-safe-area-bottom) + 60px);
  position: absolute;
  z-index: 1;
  border-radius: 30px;
  overflow: hidden;
}
// Hide scrollbar for Chrome, Safari and Opera
ion-content::part(scroll)::-webkit-scrollbar {
  display: none;
}

// Hide scrollbar for IE, Edge and Firefox
ion-content::part(scroll) {
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox
}

.screen-background {
  width: 100%;
  height: 100%;
  background: var(--cr-color-background2);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

cr-side-menu {
  width: fit-content;
  transform: perspective(700px) translateX(-300px) rotateY(30deg);
}

cr-on-boarding {
  position: absolute;
  // It's initially needs to be out of the view till user open the modal
  // negative(view-port + (calculated space based on screen scale (0.92) + 20px to show home behind modal) + shadow area)
  transform: translateY(
    calc(-1 * (100vh + (((100vh - (100vh * 0.92)) / 2) + 20px) + 40px))
  );
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 40px 40px rgb(0 0 0 / 0.5);
  z-index: 3;
}

.tabs-white-underlay {
  height: 150px;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    transparent,
    var(--cr-color-background)
  );
  position: absolute;
  bottom: 0;
  pointer-events: none;
  z-index: 2;
}

.on-boarding-btn {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background: white;
  position: fixed;
  top: calc(var(--safe-area-inset-top) + 20px);
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(var(--cr-color-shadow-rgb), 0.2);
  z-index: 2;

  ion-icon {
    --ionicon-stroke-width: 40px;
    color: black;
  }
}

.side-menu-button {
  background-color: white;
  border-radius: 22px;
  box-shadow: 0 5px 5px rgba(var(--cr-color-shadow-rgb), 0.2);
  position: fixed;
  top: calc(var(--safe-area-inset-top) + 16px);
  left: 16px;
  cursor: pointer;
  z-index: 2;
}

.home-tab-container {
  padding-top: calc(var(--safe-area-inset-top) + 60px);
}

.other-tabs {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-text {
    text-transform: capitalize;
  }
}
